@font-face {
  font-family: 'iconfont'; /* project id 1356585 */
  src: url('//at.alicdn.com/t/font_1356585_550gqc6v6y.eot');
  src: url('//at.alicdn.com/t/font_1356585_550gqc6v6y.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1356585_550gqc6v6y.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1356585_550gqc6v6y.woff') format('woff'),
    url('//at.alicdn.com/t/font_1356585_550gqc6v6y.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1356585_550gqc6v6y.svg#iconfont') format('svg');
}
