$danger-color: rgb(250, 65, 32);
$primary-color: rgb(89, 21, 248);
$background: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin shadow-blur($position: 'right', $image: inherit) {
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10upx;
    transform: scale(1, 1);
    z-index: -1;
    filter: blur(10upx);
    opacity: 0.3;
    transform-origin: 0 0;
    background: $image;
    @if ($position== 'left') {
      right: 20upx;
    } @else {
      left: 5upx;
    }
  }
}
